.inside-hotbar {
    display: none;
}

.hamburger {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    border: 1px solid rgb(48, 47, 47);
    border-radius: 100%;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger-menu {
    z-index: 999;
    margin: 0;
    display: none;
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-mode-background-color);

}

.hamburger-menu.open {
    display: flex;
}

.showcase-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: var(--grey-border);
}

.hamburger-showcase {
    background: linear-gradient(0deg, var(--purple-600) 0%, rgba(255, 255, 255, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 4px;
}

.close-button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    border: 1px solid rgb(94, 93, 93);
    border-radius: 10px;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    font-size: 30px;
}

.hamburger-link-folder {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: auto;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.hamburger-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: white 1px solid;
    padding: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    width: 80%;
}