
.main-hotbar {
    display: none;
}

.inside-hotbar {
    display: none;
}

.mobile-hotbar {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--grey-border);
    background-color: var(--dark-mode-background-color); 
    
}

.hamburger {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    border: var(--grey-border);
    border-radius: 10px;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.bar {
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--dark-mode-background-color);
    border: 1px solid rgb(48, 47, 47);
    padding-top: 10px;
    padding-bottom: 10px;

    /* Animation vorbereiten */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.hamburger-menu.open {
    max-height: 500px; /* ausreichend, dass alle Links reinpassen */
    opacity: 1;
}


.hamburger-link {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 400;
    border: var(--grey-border);
    padding: 5px;
    display: flex;
    align-items: center;
    width: 80%;
}

.hamburger-link.active {
    background: #9900ff;
    background: linear-gradient(128deg,rgba(153, 0, 255, 1) 0%, rgba(0, 255, 221, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}